.board-grid-item {
    height: 200px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.board-grid-item h3 {
    text-align: center;
    padding: 10px;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
}

.board-grid-item p {
    padding: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: medium;
    color: red;
}

.board-settings {
    text-align: center;
}

.board-open {
    text-align: center;
    padding: 10px;
}

.board-btn {
    margin: 10px;
}